{% import './macros/icon.njk' as icon %}
<!DOCTYPE html>
<html>
    <head>
        <title>Title of the document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Inter&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css"
            integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css" integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/stylesheets/orbit.min.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="grid full-height has-no-col-padding">
            <div class="column is-1 dark-blue-bg">
                <div class="box ">
                    <div class="row header">
                        <div class="container has-text-center">
                            <img class="pd10 is-inline" src="/images/logo.png"/>
                        </div>
                        <div class="has-text-center">
                            <button id="new" class="button is-primary">
                                <span class="icon">{{ icon.svg('plus-circle') }}</span>
                            </button>
                        </div>
                        <nav class="menu has-text-center">
                            <h5 class="menu__title has-text-info">LANGUAGES</h5>
                            <ul class="menu__list">
                                {% for language in languages %}
                                    <li class="{% if selected.language === language.code %}is-active{% endif %}">
                                        <a href="/{{ language.code }}" class="has-text-light">{{ language.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="column is-2 full-height has-bg-light">
                <div class="box">
                    <div class="row header">
                        <form id="post" class="border-bottom pd10" method="post">
                            <input type="text" name="id" value="">
                        </form>
                    </div>
                    <div class="row content autoscroll-y">
                        {% for row in rows %}
                            <div id="{{ row.id }}" class="item{% if row.id == selected_id  %} item-selected{% endif %}">
                                <a id="{{ row.slug }}" href="#{{ row.slug }}">
                                    <span class="status">{{ icon.svg('check2-circle') if row.status == 'PUBLISHED' else icon.svg('slash-circle') }}</span>
                                    <div class="is-small-heading">{{ row.title }}</div>
                                    <div>{{ row.tags }}</div>
                                    {% set translation_id = row.translation_id %}
                                    {% set translations = row.translations.split('#') if row.translations else [] %}
                                    {% include "./partial/languages.njk" %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row footer">
                        <p>footer (fixed height)</p>
                    </div>
                </div>
            </div>
            <div id="main" class="column is-9 full-height">
                {% include "./partial/view.njk" %}
            </div>
        </div>
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <script type="text/javascript" src="/javascripts/view.js"></script>
    </body>
</html>