html,
body {
    height: 100%;
    margin: 0;
  
}

:root {
    /*--theme-heading-font-family: Barlow, sans-serif;*/
    --theme-heading-font-family: Inter, sans-serif;
    --theme-body-font-family: Inter, sans-serif;
}



.is-very-big-heading, h1 {
    font-size: 2.1rem;
}

.is-very-big-heading, h2 {
    font-size: 1.7rem;
}

.is-medium-heading, h3 {
    font-size: 1.5rem;
}

.is-small-heading, h5 {
    font-size: 1.05rem;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
/*
.box .row {
    border: 1px dotted #0313fc;
}*/

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}

.full-height {
    height: 100%;
}

.dark-blue-bg {
    background-color: #252b39;
}

.item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    cursor: pointer;
}

.item:hover {
    background-color: #eef1f5;
}

.item-selected {
    background: #eee;
    border-left: 6px solid #1b98f8;
}

.item a {
    text-decoration: none;
}

.pd5 {
    padding: 5px;
}

.pd10 {
    padding: 10px;
}

.pdl5 {
    padding-left: 5px;
}

.pdr5 {
    padding-right: 5px;
}

.pdl10 {
    padding-left: 10px;
}

.pdt20 {
    padding-top: 20px;
}

.pdh20 {
    padding-left: 20px;
    padding-right: 20px;
}

.mgv5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mgl10 {
    margin-left: 10px;
}

.autoscroll-y {
    overflow-y: auto;
}

.autoscroll-x {
    overflow-x: auto;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.vc {
    vertical-align: middle;
}

form input, form select, form textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

.CodeMirror {
    border-top: 1px solid #eef1f5;
    border-bottom: 1px solid #eef1f5;
}

.translation, .translate {
    padding: 5px !important;
    font-size: 0.65rem;
}

.item {
    position: relative;
}

.status {
    position: absolute;
    top: 5px;
    right: 5px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}