{% import '../macros/icon.njk' as icon %}
<form id="form" class="box" method="post">
    <input type="hidden" name="id" value="{{ selected.id }}">
    <input type="hidden" name="translation_id" value="{{ selected.translation_id }}">
    <div class="row header">
        <div class="grid">
            <div class="column is-three-quarters">
                <div class="grid">
                    <div class="column">
                        <input name="title" type="text" value="{{ selected.title }}" placeholder="Title">
                    </div>
                </div>
                <div class="grid">
                    <div class="column is-select is-one-half">
                        <input name="tags"  type="text" value="{{ selected.tags }}" placeholder="Tags">
                    </div>
                    <div class="column is-select is-one-half">
                        <select name="language">
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if selected.language === language.code %} selected {% endif %}>{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarters">
                <button id="view" class="button is-info">
                    <span class="icon">{{ icon.svg('binoculars') }}</span>
                </button>
                <button id="save" class="button is-warning">
                    <span class="icon">{{ icon.svg('database-up') }}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row content autoscroll-y">
        <textarea id="editor" name="markdown">{{ selected.markdown }}</textarea>
    </div>
    <div class="row footer">
        <div id="notification"></span>
    </div>
</form>