<div class="translations is-addon-group is-rounded">
    {% for translation in translations %}
        {% set t = translation|json_parse %}
        <button class="translation button is-small" data-id="{{ t.post_id }}">
            <!--<img src="/flags/{{ t.translation_code }}.svg" width="16" height="16">-->EN
        </button>
    {% endfor %}
    {% if translation_id %}
        <button class="translate button is-small" data-id="{{ translation_id }}">
            {{ icon.svg('translate') }}
        </button>
    {% endif %}
</div>