{% import '../macros/icon.njk' as icon %}
<div class="box">
    <div class="row header border-bottom pdl10 pdr5">
        <div class="grid">
            <div class="column is-three-quarters">
                <h1>{{ selected.title }}</h1>
                {% if selected.translations %}
                    <div>
                        {% set translations = selected.translations.split(',') %}
                        {#% include "./languages.njk" %#}
                    </div>
                {% endif %}
            </div>
            <div class="column is-one-quarters">
                <button id="copyHTML" class="button is-light">
                    <span class="icon">{{ icon.svg('clipboard') }}</span>
                </button>
                <button id="edit" data-id="{{ selected.id }}" class="button is-warning">
                    <span class="icon">{{ icon.svg('pencil-square') }}</span>
                </button>
                <button class="button is-primary" data-id={{ selected.translation_id }}>
                    <span>{{ icon.svg('translate') }}</span>
                </button>
                <button class="button is-danger">
                    <span>{{ icon.svg('trash2') }}</span>
                </button>
            </div>
        </div>
    </div>
    <div id="post-body" class="row content autoscroll-y pdt20 pdl10 pdr5">
        {{ selected.html|safe }}
    </div>
    <div class="row footer pdl10 pdr5">
        {% if selected.tags %}
            <p>
                {% for tag in selected.tags.split(',') %}
                    {% if tag %}
                        <a href="/tags/{{ tag }}">#{{ tag.trim() }}</a>
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>
</div>
