{% macro svg(name, width = 16, height = 16, color = 'currentColor') %}
	<svg class="bi" width="{{ width }}" height="{{ height }}" fill="currentColor">
  		<use xlink:href="/icons/icons.svg#{{ name }}"/>
	</svg>
{% endmacro %}